{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var memos_url = "{{=URL('api', 'get_memos')}}"
  var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}"
  var del_memo_url = "{{=URL('api', 'del_memo', user_signature=True)}}"
  var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}"
  var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}"
</script>
{{end}}

<div class="main_content">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/burger.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Burgers</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/chocolate-cake.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Desserts</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/breakfast.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Breakfast</div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/sushi.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Sushi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/salad.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Healthy</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/pizza.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Pizza</div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row justify-content-md-center">
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/sandwich.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Sandwiches</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card zoom">
          {{=IMG(_src=URL('static', 'images/pasta.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Pasta</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card zoom blur">
          {{=IMG(_src=URL('static', 'images/rice.jpg'), _class="card-img-top")}}
          <div class="blur_text">
            <div class="text">Korean</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div id="vue-div" class="display:none">


  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
