{{extend 'layout.html'}}

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{=GOOGLEMAP_KEY}}" type="text/javascript"></script>
    <script type="text/javascript">
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        //center Santa Cruz
        map.setCenter(new GLatLng (36.9741171, -122.03079630000002), 6);
        var blueIcon = new GIcon();
        blueIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png";
        blueIcon.iconAnchor = new GPoint(9, 34);
        blueIcon.infoWindowAnchor = new GPoint(9, 2);
        blueIcon.infoShadowAnchor = new GPoint(18, 14);
        function createMarker(point, message) {
           // set up marker option and message
           markerOptions = { icon:blueIcon };
           var marker = new GMarker(point, markerOptions);
           GEvent.addListener(marker, "click", function() {
             marker.openInfoWindowHtml(message);
           });
           return marker;
        }

        {{for post in posts:}}{{if post.latitude and post.longitude:}}
          var point = new GLatLng({{=post.longitude}},{{=post.latitude}});
          map.addOverlay(createMarker(point, "Name:{{=post.driver_name}} Post:{{=post.post}} Location:{{=post.food_location}} "));
        {{pass}}{{pass}}

     }
    }
    </script>

<br/>
    <div id="map" style="width: 100%; height: 700px"></div>
    <script>load();</script>
<br/>