<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{=URL('static','css/profile.css')}}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/2a89db6bb1.js"></script>
</head>
<body>

{{if auth.user_id:}}
<div class="container">
  <div class="profilecard">
    <a href="{{=URL('default', 'index')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> HOME</a>
    <h1>
        {{=user.first_name}} {{=user.last_name}}'s profile
          <small>
               <a href="{{=URL('default', 'user', args=['profile'])}}">
                      <i class="fa fa-cog" aria-hidden="true"></i>
              </a>
            </small>
        </h1>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#main">Profile Info</a></li>
    </ul>

    <div class="tab-content">
      <div id="main" class="tab-pane fade in active">
        <p>{{=crud.read(db.auth_user,user)}}</p>
      </div>


    </div>
  </div>
</div>
{{else:}}
<div class="profilecard">
  <h3 align="center">Please log in <a href="{{=URL('default', 'user/login')}}">here</a>
  or <a href="{{=URL('default', 'user/register')}}">sign up here</a>.
  </h3>
</div>
{{pass}}
</body>
</html>

 