{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var user_images_url = "{{=URL('api', 'get_user_images', user_signature=True, hash_vars=False)}}";
    var add_image_url = "{{=URL('api', 'add_image', user_signature=True)}}";
    var get_user_url = "{{=URL('api', 'get_users', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="container padded">

            <!--<img v-if="show_img" v-bind:src="img_url" />-->
        {{if auth.user is not None:}}
            <div class="user_space">
                <!-- Right part of the page -->

                <div class="image_container">

                    <div class="container">

                        <div v-for="users in users" class="lifted padded quarter rightspace">
                            <div v-on:click="get_user_images(users.user_id)">${users.first_name} ${users.last_name}
                                <div v-for="user_images in user_images">
                                    <img v-bind:src="user_images.image_url" height="200px" width="200px" class="padded">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!--
            <div class="image_space">

                <div v-if="self_page">
                    <div id="uploader_div" style="display:none">
                        Upload an image file: <input id="file_input" type="file" v-on:change="upload_file"
                                                     accept="image/jpeg">
                    </div>
                        <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
                        <button v-if="is_uploading" v-on:click="close_uploader">Cancel</button>
                </div>

                <div class="image_container">

                    <ul class="container">

                        <li v-for="user_images in user_images" class="card lifted padded quarter">
                            <img v-bind:src="user_images.image_url" height="200px" width="200px" class="padded">
                        </li>
                    </ul>
                </div>
            </div>

            -->
        {{else:}}
            <h2>Please log into an account or sign up.</h2>
        {{pass}}

        </div>

    </div>

</div>


<script src="{{=URL('static', 'js/food.js')}}"></script>
