{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var listings_url = "{{=URL('api', 'get_listings')}}"
  var add_listing_url = "{{=URL('api', 'add_listing', user_signature=True)}}"
  var del_listing_url = "{{=URL('api', 'del_listing', user_signature=True)}}"
  var edit_listing_url = "{{=URL('api', 'edit_listing', user_signature=True)}}"
  var this_category = "korean"
</script>
{{end}}

<div class="main_content">

  <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

    <div class="button_bar">
      <button v-if="!is_adding_listing" class="btn"
              v-on:click="add_listing_button()"
              :disabled="!logged_in"
              v-bind:class="{'disabled': !logged_in}">
        <i class="fa fa-plus"></i> Add Listing
      </button>
      <button v-if="is_adding_listing" class="btn btn-warning" v-on:click="add_listing_button()"><i class="fa fa-times"></i> Cancel</button>
    </div>


    <!-- Form to add listings -->
    <div v-if="is_adding_listing" id="add_listing_div">
      <br>
      <form action="#" v-on:submit.prevent="add_listing" class="form-horizontal" enctype="multipart/form-data" method="post">
        <div class="form-group" id="no_table_title__row">
          <div>
            <input class="form-control string" id="no_table_title" name="driver_name" type="text" v-model="form_driver_name" placeholder="Your Name"/>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group" id="no_table_listing__row">
          <div><input class="form-control string" id="no_table_listing" name="content" type="text" v-model="form_post" placeholder="Post"/>
            <span class="help-block"></span>
          </div>
        </div>
        <div class="form-group" id="submit_record__row">
          <div>
            <input class="btn btn-primary" id="add_listing_submit" type="submit" value="Submit" />
          </div>
        </div>
      </form>
    </div>

    <br>

    <div class="container card-columns" id="container">
      <!-- Listings for database -->
      <div v-for="listing in listings" class="card lifted padded quarter">

        <div class="text-left listing-content">

            <!-- If we are editing the listing (i.e. the edit button was pressed) and the edit_id == the listing.id in the database, then display the textarea form for editting-->
            <div v-if="is_editing_listing && edit_id==listing.id">

                <div class="container">
                  <br>

                  <!-- Display listing title from the database that will be editted -->
                  <div class="form-group" id="no_table_content__row">
                      <div>
                          <textarea class="form-control string" v-model="edit_driver_name_content = listing.driver_name" placeholder="Title" type="text" ></textarea>
                          <span class="help-block"></span>
                      </div>
                  </div>

                  <!-- Display listing content from the database that will be editted -->
                  <div class="form-group" id="no_table_content__row">
                      <div>
                          <textarea class="form-control string" v-model="edit_post_content = listing.post" placeholder="listing" type="text" ></textarea>
                          <span class="help-block"></span>
                      </div>
                  </div>

                  <!-- The cancel and submit buttons for editing a listing -->
                  <div class="form-group row edit-buttons" id="submit_record__row">
                      <div class="col-md-6">
                          <button v-if="is_editing_listing" class="btn btn-warning btn-sm cancel-button" v-on:click="cancel_edit(listing._idx)" type="button">
                              Cancel
                          </button>
                      </div>

                      <div class="col-md-6">
                          <button v-if="is_editing_listing" class="btn btn-primary btn-sm listing-edit-button" v-on:click="edit_listing_submit()" type="submit">
                              Submit
                          </button>
                      </div>
                  </div>

                </div>
            </div>

            <!-- If we are not editing a listing, or if we are but the edit_id is not equal to current listing's id, then display the title and listing only -->
            <div class="card-body" v-if="!is_editing_listing || (is_editing_listing && edit_id != listing.id)">
                <div class="listing_title">${listing.driver_name}</div>
                <div class="listing_content">${listing.post}</div>
            </div>
        </div>

        <!-- Buttons for individual listing -->
        <div class="button_list">
          <div class="buttons">
          {{if auth.user:}}
            <!-- if the listing belongs to the logged-in user, show all button options -->
            <div v-if="listing.user_email == '{{=auth.user.email}}'">
              <!-- Toggle is_public button -->

              <a class="btn rounded" v-on:click="edit_listing(listing._idx)"><i class="fa fa-edit fa-lg"></i></a>
              <a class="btn rounded" v-on:click="delete_listing(listing._idx)"><i class="fa fa-trash fa-lg"></i></a>
            </div>

            <!-- If listing does not belong to user but it is public -->
            <div v-if="!(listing.user_email == '{{=auth.user.email}}')">
              <a class="btn rounded"
                 :disabled="!logged_in"
                 v-bind:class="{'disabled': !logged_in}"
                 style="background-color:grey; pointer-events: none; cursor: default;">
                <i class="fa fa-users"></i></a>
            </div>
          {{else:}}
          <!-- Else, no one is logged in, so display public listings only -->
            <div>
              <a class="btn rounded"
                 :disabled="!logged_in"
                 v-bind:class="{'disabled': !logged_in}"
                 style="background-color:grey; pointer-events: none; cursor: default;">
                <i class="fa fa-users"></i></a>
            </div>
          {{pass}}
          </div>
        </div>
      </div>

      <!-- Has more than 10 listings -->
      <div v-if="has_more" class="show_more">
        <button class="btn btn-default rounded" v-on:click="get_more()">
          <i class="fa fa-ellipsis-h"></i>
          Load more
        </button>
      </div>


    </div>

  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
