{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{=GOOGLEMAP_KEY}}" type="text/javascript"></script>

<script>
    var listings_url = "{{=URL('api', 'get_listings')}}"
    var add_listing_url = "{{=URL('api', 'add_listing', user_signature=True)}}"
    var del_listing_url = "{{=URL('api', 'del_listing', user_signature=True)}}"
    var edit_listing_url = "{{=URL('api', 'edit_listing', user_signature=True)}}"
    var this_category = "sandwiches"

    var get_listing_comments_url = "{{=URL('api', 'get_listing_comments')}}"
    var add_comment_url = "{{=URL('api', 'add_comment')}}"
    var del_comment_url = "{{=URL('api', 'del_comment')}}"
    var toggleQR_url = "{{=URL('api', 'toggle_QR', user_signature=True)}}"

    var add_profile_picture_url = "{{=URL('api', 'add_profile_picture_url', user_signature=True)}}";
</script>
{{end}}
<script type="text/javascript">
function load(mapNum) {
    if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map" + mapNum));
    map.addControl(new GSmallMapControl());
    map.addControl(new GMapTypeControl());
    //center Santa Cruz
    map.setCenter(new GLatLng (36.9741171, -122.03079630000002), 12);
    var blueIcon = new GIcon();
    blueIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png";
    blueIcon.iconAnchor = new GPoint(9, 34);
    blueIcon.infoWindowAnchor = new GPoint(9, 2);
    blueIcon.infoShadowAnchor = new GPoint(18, 14);
    function createMarker(point, message) {
        // set up marker option and message
        markerOptions = { icon:blueIcon };
        var marker = new GMarker(point, markerOptions);
        GEvent.addListener(marker, "click", function() {
            marker.openInfoWindowHtml(message);
        });
        return marker;
    }
    {{for post in posts:}}{{if post.latitude and post.longitude:}}
      var point = new GLatLng({{=post.longitude}},{{=post.latitude}});
      map.addOverlay(createMarker(point, "Name:{{=post.driver_name}} Post:{{=post.post}} Location:{{=post.food_location}} "));
    {{pass}}{{pass}}
  }
}
</script>
<div class="main_content">

    <div class="jumbotron" id="map1" style="width:100%;height:400px;">
    </div>
    <script>load(1);</script>

    <br>

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div class="button_bar">
            <button v-if="!is_adding_listing" class="btn"
                    v-on:click="add_listing_button()"
                    :disabled="!logged_in"
                    v-bind:class="{'disabled': !logged_in}">
                <i class="fa fa-plus"></i> Add Listing
            </button>
            <button v-if="is_adding_listing" class="btn btn-warning" v-on:click="add_listing_button()"><i
                    class="fa fa-times"></i> Cancel
            </button>
        </div>

        <!-- Form to add listings -->
        {{if auth.user:}}
        <div v-if="is_adding_listing" id="add_listing_div">
            <br>
            <form action="#" v-on:submit.prevent="add_listing" class="form-horizontal" enctype="multipart/form-data"
                  method="post">
                <div class="form-group" id="no_table_title__row">
                    <div>
                        <input class="form-control string" id="no_table_title" name="driver_name" type="text"
                               v-model="form_driver_name" placeholder="Your Name"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_listing__row">
                    <div><input class="form-control string" id="no_table_listing" name="content" type="text"
                                v-model="form_post" placeholder="Post"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_listing__row">
                    <div><input class="form-control string" id="no_table_listing" name="content" type="text"
                                v-model="form_food_location" placeholder="Address of the Business(Full Address)"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="no_table_listing__row">
                    <div><input class="form-control string" id="no_table_listing" name="fee" type="text"
                                v-model="form_fee" placeholder="Enter the Deliver Fee You will charge"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="submit_record__row">
                    <div>
                        <input class="btn btn-primary" id="add_listing_submit" type="submit" value="Submit"/>
                    </div>
                </div>
            </form>
        </div>
        {{else:}}
        {{pass}}

        <br>
        <div class="container card-columns" id="container">
            <!-- Listings for database -->
            <div v-for="listing in listings" class="card lifted" >

                <div class="text-left listing-content">
                    <div class="listing_profile_picture">
                        <img class="img-circle" v-bind:src="'/init/default/download/' + listing.profile_picture_url"/>
                    </div>
                    <!-- If we are editing the listing (i.e. the edit button was pressed) and the edit_id == the listing.id in the database, then display the textarea form for editting-->
                    <div v-if="is_editing_listing && edit_id==listing.id">

                        <div class="container">`
                            <br>

                            <!-- Display listing title from the database that will be editted -->
                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string"
                                              v-model="edit_driver_name_content = listing.driver_name"
                                              placeholder="Your Name" type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <!-- Display listing content from the database that will be editted -->
                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" v-model="edit_post_content = listing.post"
                                              placeholder="Post" type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" v-model="edit_fee_content = listing.fee"
                                              placeholder="Delivery Fee" type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <!-- The cancel and submit buttons for editing a listing -->
                            <div class="form-group row edit-buttons" id="submit_record__row">
                                <div class="col-md-6">
                                    <button v-if="is_editing_listing" class="btn btn-warning btn-sm cancel-button"
                                            v-on:click="cancel_edit(listing._idx)" type="button">
                                        Cancel
                                    </button>
                                </div>

                                <div class="col-md-6">
                                    <button v-if="is_editing_listing" class="btn btn-primary btn-sm listing-edit-button"
                                            v-on:click="edit_listing_submit()" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we are not editing a listing, or if we are but the edit_id is not equal to current listing's id, then display the title and listing only -->
                    <div class="card-body" v-if="!is_editing_listing || (is_editing_listing && edit_id != listing.id)">
                      <div class="listing_title">Driver: <b>${listing.driver_name}</b></div>
                        <div class="listing_content">Place: ${listing.post}</div>
                        <div class="listing_content">Location: ${listing.food_location}</div>
                        <div class="listing_content">Deliver Fee: $${listing.fee}</div>
                    </div>
                </div>

                <!-- Buttons for individual listing -->
                <div class="button_list">
                    <div class="buttons">
                    {{if auth.user:}}
                        <!-- if the listing belongs to the logged-in user, show all button options -->
                        <div v-if="listing.user_email == '{{=auth.user.email}}'">
                            <!-- Edit listing -->
                            <a class="btn rounded" v-on:click="edit_listing(listing._idx)"><i
                                    class="fa fa-edit fa-lg"></i></a>
                            <a class="btn rounded" v-on:click="delete_listing(listing._idx)"><i
                                    class="fa fa-trash fa-lg"></i></a>
                            <a class="btn rounded" v-on:click="add_comment(listing._idx)"><i
                                    class="fa fa-edit fa-plus"></i> Comment </a>
                        </div>

                        <div v-else>
                            <a class="btn rounded" v-on:click="add_comment(listing._idx)"><i
                                    class="fa fa-edit fa-plus"></i> Comment </a>
                        </div>

                    {{else:}}
                        <!-- Else, no one is logged in, so display nothing only -->
                        <div>
                            <a class="btn rounded" v-on:click="add_comment(listing._idx)"><i
                                    class="fa fa-edit fa-plus"></i> Comment </a>
                        </div>
                    {{pass}}
                    </div>
                </div>

                <div class="text-left comment-content">
                    <div v-if="is_adding_comment && add_comment_id==listing.id">

                        <!-- Add Comment Form -->
                    {{if auth.user:}}
                        <div class="container">
                            <br>

                            <!-- Display listing title from the database that will be editted -->
                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" v-model="form_commenter_name"
                                              placeholder="Your Name" type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <!-- Display listing content from the database that will be editted -->
                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" v-model="form_comment" placeholder="Comment"
                                              type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" v-model="form_comment_location" placeholder="Where Should the Driver Deliver To(Be as specific as possible)"
                                              type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" v-model="form_comment_phone" placeholder="Phone 1(xxx)-xxx-xxxx"
                                              type="text"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- The cancel and submit buttons for editing a listing -->
                            <div class="form-group row edit-buttons" id="submit_record__row">
                                <div class="col-md-6">
                                    <button v-if="is_adding_comment" class="btn btn-warning btn-sm cancel-button"
                                            v-on:click="add_comment_button()" type="button">
                                        Cancel
                                    </button>
                                </div>

                                <div class="col-md-6">
                                    <button v-if="is_adding_comment" class="btn btn-primary btn-sm listing-edit-button"
                                            id="add_comment_submit" v-on:click="add_comment_submit(listing._idx)"
                                            type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{else:}}

                    {{pass}}
                        <!-- Display comments -->

                        <div class="container padded">
                            <div v-for="comment in comments">
                                <div class="memo" style="min-height: 100px;">
                                    <div class="comment_image">
                                        <img class="img-circle" v-bind:src="'/init/default/download/' + comment.profile_picture_url"/>
                                    </div>
                                    <div class="comment_content">
                                        <div class="comment_name"><b>Name: ${comment.commenter_name}</b></div>
                                        <div class="comment_text">Post: ${comment.written_comment}</div>
                                        <div class="comment_text">Deliver To: ${comment.comment_location}</div>
                                        <div class="comment_text">Phone: ${comment.comment_phone}</div>
                                    </div>

                                    <div class="button_list">
                                        <div class="buttons">
                                        {{if auth.user:}}
                                            <!-- if the listing belongs to the logged-in user, show all button options -->
                                            <div v-if="comment.user_email == '{{=auth.user.email}}' || listing.user_email == '{{=auth.user.email}}'">
                                                <!-- Edit listing -->
                                                <a class="btn rounded" v-on:click="delete_comment(comment._idx)"><i
                                                        class="fa fa-trash fa-lg"></i></a>
                                                <a v-on:click="toggle_QR(comment._idx)" class="btn rounded">
                                                  <i v-bind:class="{'fa fa-qrcode': !comment.showQR, 'fa fa-close': comment.showQR}"></i>
                                                </a>
                                                <img v-if="comment.showQR" v-bind:src=" '/init/default/download/' + comment.venmo_QR_url"/>
                                            </div>
                                        {{else:}}
                                        {{pass}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
